
.filtros{
    @include flex(row,wrap,space-between,center);
    background-color: $color-secundario;
    padding: .625rem;
    width: 100%;
    .filtros1{
        @include flex(row,wrap,none,center);
        padding-left: 1.25rem;
        gap: 1.25rem;
        .filtros1-b{
            @include flex(row,wrap,none,none);
            gap: .625rem;
        }
        h2{
            padding-top: .625rem;
            margin: 0;
        }
    }
    .filtros2{
        @include flex(row,wrap,none,none);
        padding-right: 1.375rem;
    }
}

.tienda-completa{
    @include flex(none,wrap,center,center);
    padding: 1.875rem;
    gap: 1.25rem;
}

.tienda-nombreyprecios{
    @include flex(row,wrap,space-between,none);
}

.imgs-tienda{
    border-radius: 5%;
}

.select-filtros{
    width: 6.25rem;
    border-radius: .3125rem;
    background-color: whitesmoke;
    border: 0;
    padding-top: .3125rem;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.select-ordenar{
    width: 7.5rem;
    border-radius: .3125rem;
    background-color: whitesmoke;
    border: 0;
    padding-top: .3125rem;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
